.buttonStyle{
    background-color: #c7d5e0;
    text-decoration: none;
    font-size: 75%;
    font-family: 'Fredoka', sans-serif;
    color:rgb(46, 46, 46);
}

.contentDiv{
    background-color: #2a475e;
    overflow: hidden;
    font-family: 'Fredoka', sans-serif;
}

.titles{
    font-family: 'Secular One', sans-serif;
    font-size: 250%;
    text-decoration: none;
}

.titleListaGames{
    color: #6b2828;
}

.listaGames{
    color:#2a475e;
}

.backgroundColorListaGame{
    border-radius: 20px;
    background-color: #c7d5e0;
}

.promoText{
    font-family: 'Caveat', cursive;
    font-size: 200%;
    color: #c7d5e0;
    text-align: center;
}

.buttonLink{
    text-decoration: none;
    color: #c7d5e0;
    font-size: 150%;
}

.buttonSubmit{
    text-decoration: none;
    font-size: 125%;
}


.centerEverything{
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

textarea{
    border-radius: 10px;
    padding: 5px 5px;
}

.InfoText{
    font-family: 'Fredoka', sans-serif;
    font-size: 175%;
    color:#c7d5e0;

}

.fontDescripcion{
    font-family: 'Fredoka', sans-serif;
    font-size: 125%;
    color:#c7d5e0;
}

h2{
    font-size: 200%;
}

input[type=file]{
    background-color: #ffffff;
    padding: 0.3%;
}

span{
    font-weight: bold;
    color:#c7d5e0;
}

.Logo{
    max-width: 60%;
}

.aTitle{
    color: #c7d5e0;
    text-decoration: none;
}

.textAlignCenter{
    text-align: center;
}

.textAlignLeft{
    text-align: left;
}

.textAlignRight{
    text-align: right;
}

.contentFooter{
    text-align: left;
    background-color: #212529;
}
.padding10{
    padding: 10px;
}

html {
    overflow-y: scroll;
}

.imgResponsive{
    width: 100%;
}