.buttonStyle{
    background-color: #c7d5e0;
    text-decoration: none;
    font-size: 75%;
    font-family: 'Fredoka', sans-serif;
    color:rgb(46, 46, 46);
}

  .divRight{
      float:right;
      padding-right: 1%;
      margin-left: auto;
      margin-right: auto;
  }


.divLeft{
    float:left;
    padding-left: 1%;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.divCenter{
    clear:both;
    background-color: #e06666;
}

.headerFull{
    background-color: #ea9999;
    overflow: hidden;
    height: 100px;
    line-height: 100px;
}

.contentDiv{
    background-color: #2a475e;
    overflow: hidden;
    font-family: 'Fredoka', sans-serif;
}

.titles{
    font-family: 'Secular One', sans-serif;
    font-size: 250%;
    text-decoration: none;
}

.promoText{
    font-family: 'Caveat', cursive;
    font-size: 200%;
    color: #c7d5e0;
    text-align: center;
}

.buttonLink{
    text-decoration: none;
    color: #c7d5e0;
    font-size: 150%;
}

.centerEverything{
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

select{
    border: 3px red;
    border-radius: 10px;
    padding: 5px 5px;
}

.divBodyLeft{
    margin-top: 1%;
    width: 49%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    float:left;
    height: 20%;
}

.divBodyRight{
    margin-top: 1%;
    width: 49%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    float:right;
    height: 20%;
}

textarea{
    border-radius: 10px;
    padding: 5px 5px;
}

.InfoText{
    font-family: 'Fredoka', sans-serif;
    font-size: 175%;
    color:#c7d5e0;

}

.fontDescripcion{
    font-family: 'Fredoka', sans-serif;
    font-size: 125%;
    color:#c7d5e0;
}

h2{
    font-size: 200%;
}

input[type=file]{
    background-color: #ffffff;
    padding: 0.3%;
}

.divFullLeft{
    float:left;
    padding-right: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 49%;
}

.divFullRight{
    float:right;
    padding-right: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 49%;
}

.divCuatroFilas{
    width: 25%;
    float: left;
}

span{
    font-weight: bold;
    color:#c7d5e0;
}

.Logo{
    max-width: 60%;
}

.aTitle{
    color: #c7d5e0;
    text-decoration: none;
}

.textAlignCenter{
    text-align: center;
}

.contentFooter{
    text-align: left;
    background-color: #212529;
}
.padding10{
    padding: 10px;
}

html {
    overflow-y: scroll;
}

.imgResponsive{
    width: 100%;
}